---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: images/police.png
---

<!-- <section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	-->
	<section class="hero" style="background-image: url(images/photography.png)">

	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">An exclusive supplier of Pelican cases.</h1>
			<p class="subtext editable">Serving the midwest.</p>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="image">
				<img class="editable" src="images/military.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Emergency</h2>
				<p class="editable">Stuff.</p>
			</div>
			<div class="image">
				<img class="editable" src="images/emergency.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Sports and Adventure</h2>
				<p class="editable">stuff.</p>
			</div>
			<div class="image">
				<img class="editable" src="images/storm_kayak.png"  alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Police, Military</h2>
				<p class="subtext editable">Stuff</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
